node_modules/**/*
.expo/
.expo-shared/
.vscode
.env
app.json
npm-debug.*
config/**/*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

firebaseConfig.json
yarn-error.lock
# macOS
.DS_Store
